body {
  background-color: #2f3544;
}

.App {
  text-align: center;
}

.input-group {
  position: relative;
  width: 60%;
}

.card {
  position: relative;
 max-width: fit-content;
}

.card-title {
  position: absolute;
  padding-left: 20px;
  margin-top: 50px;
}

.card-date {
  position: absolute;
  padding: 20px;
}
.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
  font-size: 50px;
}
.card-desc {
  position: absolute;
  padding-left: 15px;
  margin-top: 390px;
}